In [135]:
# Importing important libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [71]:
url = 'https://raw.githubusercontent.com/SakyTempress/HDSC-Stage-B/main/energydata_complete.csv'
energy = pd.read_csv(url, on_bad_lines='skip', encoding='latin-1')

In [72]:
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [73]:
energy.shape

(19735, 29)

In [33]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [74]:
# Rename columns
columns = {'T1': 'Temp_kitchen', 
'RH_1': 'Humidity_kitchen', 'T2': 'Temp_living_room', 
'RH_2': 'Humidity_living_room', 'T3': 'Temp_laundry',
'RH_3': 'Humidity_laundry', 'T4': 'Temp_office room',
'RH_4': 'Humidity_office', 'T5': 'Temp_bathroom',
'RH_5': 'Humidity_bathroom', 'T6': 'Temp_building_out',
'RH_6': 'Humidity_building_out', 'T7': 'Temp_ironing',
'RH_7': 'Humidity_ironing', 'T8': 'Temp_teenager',
'RH_8': 'Humidity_teenager', 'T9': 'Temp_parent',
'RH_9': 'Humidity_parent','T_out': 'Temp_Chievres',
'RH_out':'Humidity_Chievres', 'rv1': 'Random_var_1', 
'rv2': 'Random_var_2'}

In [75]:
# rename columns
energy = energy.rename(columns=columns)
energy.head()

,date,Appliances,lights,Temp_kitchen,Humidity_kitchen,Temp_living_room,Humidity_living_room,Temp_laundry,Humidity_laundry,Temp_office room,...,Temp_parent,Humidity_parent,Temp_Chievres,Press_mm_hg,Humidity_Chievres,Windspeed,Visibility,Tdewpoint,Random_var_1,Random_var_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [76]:
# Removing the following columns: [“date”, “lights”]
remove_col = ['date', 'lights']
energy = energy.drop(columns=remove_col)
energy.shape

(19735, 27)

In [69]:
energy.isnull().sum()

Appliances               0
Temp_kitchen             0
Humidity_kitchen         0
Temp_living_room         0
Humidity_living_room     0
Temp_laundry             0
Humidity_laundry         0
Temp_office room         0
Humidity_office          0
Temp_bathroom            0
Humidity_bathroom        0
Temp_building_out        0
Humidity_building_out    0
Temp_ironing             0
Humidity_ironing         0
Temp_teenager            0
Humidity_teenager        0
Temp_parent              0
Humidity_parent          0
Temp_Chievres            0
Press_mm_hg              0
Humidity_Chievres        0
Windspeed                0
Visibility               0
Tdewpoint                0
Random_var_1             0
Random_var_2             0
dtype: int64

## Question 12

In [211]:
# From the dataset, fit a linear model on the relationship between (x = T2) and the temperature outside the building (y = T6). 
X_T2 = energy.Temp_living_room.values.reshape(-1, 1)
y_T8 = energy.Temp_building_out.values.reshape(-1, 1)

# Using train_test_split model
X_train, X_test, y_train, y_test = train_test_split(X_T2, y_T8, test_size=0.3, random_state=42)

# Instantiate
lin_reg = LinearRegression()

# Fit to data
lin_reg.fit(X_train, y_train)

# Predict
y_pred = lin_reg.predict(X_test)

In [130]:
# What is the R^2 value in two d.p.?
temp_r2 = r2_score(y_test, y_pred )
print('The R-Squared is',round(temp_r2, 2))

The R-Squared is 0.64

## Question 13

In [132]:
# Normalize the dataset using the MinMaxScaler
scalar = MinMaxScaler()
normalise_energy = pd.DataFrame(scalar.fit_transform(energy), columns=energy.columns)

In [175]:
features = normalise_energy.drop(columns='Appliances')
target = normalise_energy['Appliances']

In [216]:
#  Use a 70-30 train-test set split with a random state of 42.
X_Train, X_Test, y_Train, y_Test = train_test_split(features, target, test_size=0.3, random_state=42)

lin_reg = LinearRegression()

lin_reg.fit(X_Train, y_Train)

y_pred_values = lin_reg.predict(X_Test)

In [112]:
# What is the Mean Absolute Error (in two decimal places)?
mae = mean_absolute_error(y_Test, y_pred_values)
print('The Mean Absolute Error is ',round(mae, 2))

The Mean Absolute Error is  0.05

## Question 14

In [145]:
# What is the Residual Sum of Squares (in two decimal places)?
rss = np.sum(np.square(y_Test-y_pred_values))
print('The Residual Sum of Squares is',round(rss, 2))

The Residual Sum of Squares is 45.35

## Question 15

In [138]:
# What is the Root Mean Squared Error (in three decimal places)?
rmse = np.sqrt(mean_squared_error(y_Test, y_pred_values))
print('The Root Mean Square Error is',round(rmse, 3))

The Root Mean Square Error is 0.088

## Question 16

In [161]:
# What is the Coefficient of Determination (in two decimal places)?
from sklearn.metrics import r2_score
r2_score = r2_score(y_Test, y_pred_values)
print('The R-Squared is',round(r2_score, 2))

The R-Squared is 0.15

## Question 17

In [220]:
# Using the function in the given text
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [222]:
linear_reg_weights = get_weights_df(lin_reg, X_Train, 'Model_Weight')
linear_reg_weights

                 Features  Model_Weight
0            Random_var_1 -7.920800e+10
1    Humidity_living_room -4.568602e-01
2           Temp_Chievres -3.219087e-01
3        Temp_living_room -2.363151e-01
4             Temp_parent -1.899521e-01
5       Humidity_teenager -1.576331e-01
6       Humidity_Chievres -7.765954e-02
7        Humidity_ironing -4.455998e-02
8         Humidity_parent -3.980982e-02
9           Temp_bathroom -1.564582e-02
10           Temp_kitchen -3.281051e-03
11            Press_mm_hg  6.865117e-03
12           Temp_ironing  1.029490e-02
13             Visibility  1.229919e-02
14      Humidity_bathroom  1.600441e-02
15        Humidity_office  2.641767e-02
16       Temp_office room  2.900741e-02
17              Windspeed  2.920699e-02
18  Humidity_building_out  3.806579e-02
19       Humidity_laundry  9.603256e-02
20          Temp_teenager  1.020032e-01
21              Tdewpoint  1.177851e-01
22      Temp_building_out  2.364673e-01
23           Temp_laundry  2.907420e-01
24       Humidity_kitchen  5.535923e-01
25           Random_var_2  7.920800e+10

## Question 18

In [179]:
from sklearn.linear_model import Ridge
reg_ridge= Ridge(alpha=0.4)
reg_ridge.fit(X_train, y_train)
reg_pred = reg_ridge.predict(X_test)

In [180]:
# The Root Mean Square Error on Ridge train test
rmse_ridge = np.sqrt(mean_squared_error(y_test, reg_pred))
print('The Root Mean Square Error for Ridge is', round(rmse_ridge, 3))

The Root Mean Square Error for Ridge is 0.088

In [182]:
from sklearn.linear_model import Lasso
reg_lasso = Lasso(alpha=0.001)
reg_lasso.fit(X_train, y_train)
pred_lasso = reg_lasso.predict(X_test)

In [185]:
# Using the get_weights_df function to get lasso weight
lasso_weights = get_weights_df(reg_lasso, X_train, 'Lasso_weight')
lasso_weights

                 Features  Lasso_weight
0       Humidity_Chievres     -0.049557
1       Humidity_teenager     -0.000110
2            Temp_kitchen      0.000000
3               Tdewpoint      0.000000
4              Visibility      0.000000
5             Press_mm_hg     -0.000000
6           Temp_Chievres      0.000000
7         Humidity_parent     -0.000000
8             Temp_parent     -0.000000
9           Temp_teenager      0.000000
10       Humidity_ironing     -0.000000
11           Random_var_1     -0.000000
12           Temp_ironing     -0.000000
13      Temp_building_out      0.000000
14      Humidity_bathroom      0.000000
15          Temp_bathroom     -0.000000
16        Humidity_office      0.000000
17       Temp_office room     -0.000000
18       Humidity_laundry      0.000000
19           Temp_laundry      0.000000
20   Humidity_living_room     -0.000000
21       Temp_living_room      0.000000
22  Humidity_building_out     -0.000000
23           Random_var_2     -0.000000
24              Windspeed      0.002912
25       Humidity_kitchen      0.017880

## Question 19

In [195]:
# How many of the features have non-zero feature weights?
sum(lasso_weights['Lasso_weight'] != 0)

4

## Question 20

In [197]:
# What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)
rmse_lasso = np.sqrt(mean_squared_error(y_test, pred_lasso))
print('The Root Mean Square Error for Lasso is', round(rmse_lasso, 3))

The Root Mean Square Error for Lasso is 0.094